.aboutSection{
  padding: 0 40px;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}


.aboutContentLeft {
  flex: 1; /* Chiếm 50% chiều rộng */
}

.aboutContentRight {
  flex: 1; /* Chiếm 50% chiều rộng */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tạo 3 cột cho phần công nghệ */
  gap: 20px; /* Khoảng cách giữa các cột */
}

.item {
  text-align: center;
}
.title{
  text-align: center;
}

.aboutContentRightImg {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .aboutContent {
    flex-direction: column; /* Chuyển hướng thành cột trên màn hình nhỏ */
  }

  .aboutContentRight {
    grid-template-columns: repeat(2, 1fr); /* Chuyển thành 2 cột trên màn hình nhỏ */
  }

  @media (max-width: 480px) {
    .aboutContentRight {
      grid-template-columns: 1fr; /* Chuyển thành 1 cột trên màn hình rất nhỏ */
    }
  }
}
